* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.calculator-container {
    display: flow-root;
    background-color: rgb(28, 153, 255);
    border: 1px solid black;
    padding: 4rem 2rem 2rem;
}
.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-block > span {
    display: block;
    color: black;
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.display {
    display: flex;
    overflow: hidden;
    height: 65px;
    width: 360px;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    background-color: black;
    color: white;
    border: 4px solid black;
}
.display p {
    margin: 0;
}
.display p::after {
    content: '';
    width: 1.6rem;
    height: 2.5rem;
    margin-left: 0.3rem;
    background: rgb(0, 218, 36);
    display: inline-block;
    transform: translateY(1px);

    animation: cursor-blink 1s steps(2) infinite;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calculator button {
    font-size: 3rem;
}
